/* CCS DOCUMENTO */
@charset "UTF-8";

@font-face {
    font-family: TITULOS Righteous;
    format: (truetype);
    src: url(fonts/Righteous-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto textos;
    format: (truetype);
    src: url(fonts/Roboto-Regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: Roboto Subtitulos;
    format: (truetype);
    src: url(fonts/Roboto-Bold.ttf);
    font-style: normal;
}

@font-face {
    font-family: Roboto italica;
    format: (truetype);
    src: url(fonts/Roboto-Italic.ttf);
    font-weight: italic;
    font-style: normal;
}

@font-face {
    font-family: Roboto destacados;
    format: (truetype);
    src: url(fonts/Roboto-Thin.ttf);
    font-weight: thin;
    font-style: normal;
}

* {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    background-color: rgb(0, 0, 0);
    color: white;
}

h1,
h3 {
    font-family: "Righteous", sans-serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    font-family: "Roboto bold", sans-serif;
    font-optical-sizing: auto;
    font-style: bold;
    font-variation-settings: "wdth" width;
}

footer {
    font-family: "Roboto destacados", sans-serif;
    font-optical-sizing: auto;
    background-color: black;
    color: white;
}

main {
    display: flex;
    padding: 233px;
    justify-content: center;
    flex-wrap: nowrap;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}

#menu {
    display: flex;
    list-style: none;
    gap: 30px;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

#inicio {
    display: flex;
    padding: 160px;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

}

#sobre-mi {
    display: flex;
    padding: 40px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
}
#redes-sociales {
    display: flex;
    list-style: none;
    gap: 30px;
    padding: 20px;
    align-items: center;
    object-fit: fill;
    justify-content: space-between;
}

#herramientas {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}
#portfolio {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 40px;
    flex-wrap: wrap;
    gap: 5px;
}
footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 40px;
}